.Modal {  
    position: fixed;  
    z-index: 500;  
    background-color: rgb(247, 210, 62);  
    width: 75%;  
    height: 50%;  
    border: 1px solid rgb(245, 199, 18);  
    box-shadow: 1px 1px 1px black;  
    padding: 16px;  left: 15%; top: 30%;  
    box-sizing: border-box;  
    transition: all 0.3s ease-out;  
    margin: 2px;  
    overflow: auto;
}

@media only screen and (min-width: 800px) {
   .Modal{
    padding: 30px;  left: 15%; top: 30%; 
   }
}