body {  
  text-align: center;
  background-color: rgb(247, 210, 62);  
  font-family: 'Quicksand', sans-serif;
}
.App-logo { 
   height: 40vmin;  
   pointer-events: 
   none;
  }
  
  @keyframes App-logo-spin {  
    from {    
      transform: rotate(0deg);  
    }  
    to {    
      transform: rotate(360deg);  
    }
  }
  
  h1,h2 {  
    color: #f0262a;  
    -webkit-text-stroke-width: 1.5px;  
    -webkit-text-stroke-color: black;  
    font-family: 'Nerko One', cursive;
  }
  h2 {  
    font-size: 1.7em;
  }
  
  .price,.confirm {  
    font-size: 1.35em;  
    color: #f0262a;  
    -webkit-text-stroke-width: 1.2px;  
    -webkit-text-stroke-color: black;  
    font-family: 'Nerko One', cursive;
  }
  
  .button {  
    background-color: rgb(245, 215, 96);  
    display: inline-block;  padding: 0.35em 1.2em;  
    border: 0.1em solid rgba(0, 0, 0, 0.671);  
    margin: 0 0.3em 0.3em 0;  
    border-radius: 0.25em;  
    box-sizing: border-box;  
    text-decoration: none;  
    font-weight: 600;  
    color: rgba(0, 0, 0, 0.671);  
    text-align: center;  
    transition: all 0.2s;
    font-family: 'Quicksand', sans-serif;
  }
    
.success:hover {  
  background-color: #95d244;
}
.danger:hover {  
  background-color: #f0262a;
}
.link {  
  text-decoration: none;  
  color: rgb(0, 0, 200);
}
.link:hover,
.link:active {  
  color: black;  
  background-color: #9ac7e8;
}
.small {  
  font-size: 12px;
}
input {  
  margin: 0.2em;
}
.burgers {  
  margin-left: 3.5em;  
  margin-right: 5em;
}
.cart {  
  padding-right: 1.5em;  
  padding-left: 0;
}
.cart-item {  
  display: flex;
}
.cart img {  
  float: left;
}

.logo {  
  display: inline-flex;  
  max-width: 85%;
}
ul {  
  list-style-type: none;  
  display: flex;  
  flex-direction: column;
}

@media only screen and (min-width: 800px) {
  .cart{
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .cart-item{    
    display: flex;
    flex-direction: row;
  }
}

@media only screen and (min-width: 1200px) {
  .cart{
    padding-left: 10em;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .cart-item{    
    display: flex;
    flex-direction: row;
  }
}